body{
  background-color: gray;
  color: white;
  text-align: center;
}

div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: rgba(114, 33, 33, 0.235);
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: white;
}

footer{
  padding: 10px;
}

