*{
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.form, .books-container{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label{
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input{
    margin-bottom: .3em;
    padding: 5px;
}

.books-container div{
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
}

#navbar{
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
#navbar ul li:first-child{
    position: absolute;
    left: 0;
    top: 0;
}

#navbar ul li:last-child{
    position: absolute;
    right: 0;
    top: 0;
}


#book-page{
    padding: 1em;
}

#book-page .container{
    text-align: center;
}